/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto; /* Add this line to center the container horizontally */
  width: 80%; /* Add this line to limit the container width */
}

/* Header */
header {
  background-color: #702d2d;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
}

/* Navigation */
nav {
  background-color: #1a0f5c;
  color: #f0f0f0;
  text-align: center;
  padding: 20px;
}

ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 10px;
}

/* Content */
#contenido {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contenido h2 {
  font-size: 28px;
  text-align: center;
